<!DOCTYPE html>
<html lang="en">
   <img>
   <body bgcolor="#FFFFFF">
   <meta charset="UTF-8">
   <title>Title</title>
   <center>
      <style>
         div {
         background: #fc3;
         border: 2px solid black;
         padding: 20px;
         }
      </style>
      </head>
      <div>
         <font  face="Roboto">
            <h1>Object recognition based on neural network</h1>
            <p><a href="upload">Face-mask recognition</a></p>
            <p><a href="video">Real-time mask detection</a></p>
         </font>
      </div>
      </head>
      <font  face="Roboto">
         <h2>USED TECHNOLOGIES</h2>
         <img src="http://i.piccy.info/i9/987d199116f04d88dd3db28d8e5cbeed/1590346140/122319/1379969/logo.png" width="100%"/>
         <footer>
            <small>&copy; 2020. Author: Roman Lyskov</small>
         </footer>
      </font>
   </center>
   </body>
</html>